*{
    margin: 0px;
    padding: 0px;
}
.head {
    background:#ffe600;
    height: 65px;
    display: flex;
    justify-content: flex-start;
}
.head-icon {
    line-height: 65px;
    text-decoration: none;
    padding-left: 50px;
}
.navbar-caption {
    height: 50px;
    width: 50px;
    display: inline-block;
    line-height: 65px;
    text-decoration: none;
    padding-left: 10px;
    color:#FFF;
    font-family: aardvark cafe;
    font-size: 40px;
}
.body {
    height: 600px;
    display: flex;
    justify-content: flex-start;
    background-image: url(bkg1.jpg);
    opacity: 0.5;
    filter: alpha(opacity=40);
}
.text-aboutme {
    padding-top: 50px;
    padding-left: 100px;
    color: ivory;
    font-size: 25px;
}
legend{
    color:#FFF;
    font-family: aardvark cafe;
    font-size: 30px;
    padding: 1em 1em;
}
.body-foto{
    padding-top: 50px;
    padding-left: 100px;
}
.foto{
    width: 330px;
    height: 450px;
    float: left;
    margin: 5px;
}
.foto-shadow {
    -webkit-box-shadow: 27px 24px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 27px 24px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 27px 24px 24px -4px rgba(0,0,0,0.75);
}
.footer { background-color: #007ad6;
    width: auto; height: 100%; padding: 0px;
    box-shadow: 0px 0px 5px rgb(87, 98, 105);
}
